.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
autohaus.egg-info
htmlcov
log
site
src/autohaus/**/__pycache__
src/autohaus/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
autohäuser-*.xlsx
report.html
sonar-*
