.venv

__pycache__/
.pytest_cache
.ruff_cache
.scannerwork
.vscode
assets
build/
dist
docs/build
docs/diagramme/out
extras/**/__pycache__
htmlcov
log
site
src/autohaus/**/__pycache__
src/autohaus/autohaus.egg-info
tests/**/__pycache__

.coverage
report.html
*.xlsx
dependency-check-report.html

# Sensible Daten
.env
extras/compose/db/postgres/db_password.txt
src/autohaus/config/resources/tls/private-key.pem
sonar-project.properties
extras/compose/autohaus/app.toml
src/autohaus/config/resources/app.toml
